<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: oldlace;
        font-family: cursive;
        color: lightcoral;
      }

      form {
        padding: 20px;
        display: inline-block;
        border: 2px solid #333;
        border-radius: 10px;
      }

      form div {
        margin-bottom: 10px;
      }

      a {
        color: lightsalmon;
        text-decoration: wavy;
      }
    </style>
  </head>
  <body>
    <h1>Poetry App</h1>
    <h2>List of all poets</h2>
    <form action="/search">
      <div>
        <label>
          Title:
          <input type="text" name="title" value="Sonnet" />
        </label>
      </div>
      <div>
        <input type="submit" value="Search" />
      </div>
    </form>
    <ul>
      {% for author in data.authors %}
      <li>
        <a href="/titles/{{author}}">{{author}}</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
