<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: oldlace;
        font-family: cursive;
        color: yellowgreen;
      }

      form {
        padding: 20px;
        display: inline-block;
        border: 2px solid #333;
        border-radius: 10px;
      }

      form div {
        margin-bottom: 10px;
      }

      h1 {
        color: salmon;
      }

      a {
        color: yellowgreen;
        text-decoration: wavy;
      }
    </style>
  </head>
  <body>
    <a href="{{go_back}}">Go back</a>

    <h1>Read <span style="color: red">{{title}}</span> by <span style="color: red">{{author}}</span></h1>

    <p>
      {% for line in poetry.lines %} {{line}} <br />
      {% endfor %}
    </p>
  </body>
</html>
