<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Go back</a>

    <h1>
      Results of your search for title:
      <span style="color: red">{{title}}</span>
    </h1>

    {% if error %}
    <p>No results found.</p>
    {% else %}
    <ul>
      {% for author, group in data|groupby('author') %}
      <li>
        <a href="/titles/{{author}}">{{author}}</a>
        <ul>
          {% for poetry in group %}
          <li>
            <a href="/read/{{author}}/{{poetry.title}}">{{poetry.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
