<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: oldlace;
        font-family: cursive;
        color: yellowgreen;
      }

      form {
        padding: 20px;
        display: inline-block;
        border: 2px solid #333;
        border-radius: 10px;
      }

      form div {
        margin-bottom: 10px;
      }

      a {
        color: lightsalmon;
        text-decoration: wavy;
      }
    </style>
  </head>
  <body>
    <a href="/">Go back</a>

    <h1>
      Results of your search for title:
      <span style="color: red">{{title}}</span>
    </h1>

    {% if error %}
    <p>No results found.</p>
    {% else %}
    <ul>
      {% for author, group in data|groupby('author') %}
      <li>
        <a href="/titles/{{author}}">{{author}}</a>
        <ul>
          {% for poetry in group %}
          <li>
            <a href="/read/{{author}}/{{poetry.title}}?go_back=/search?title={{title}}">{{poetry.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
