<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: oldlace;
        font-family: cursive;
        color: tomato;
      }

      form {
        padding: 20px;
        display: inline-block;
        border: 2px solid #333;
        border-radius: 10px;
      }

      form div {
        margin-bottom: 10px;
      }

      a {
        color: yellowgreen;
        text-decoration: wavy;
      }
    </style>
  </head>
  <body>
    <a href="/">Go back</a>

    <h1>Showing all titles of <span style="color: red">{{author}}</span></h1>

    <ul>
      {% for poetry in data %}
      <li>
        <a href="/read/{{author}}/{{poetry.title}}">{{poetry.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
